<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header.html}"></div>
<div style="display: flex" id="courier">
    <div th:each="oneOrder: ${orders}" style="width: 150px; margin: 5px">
        <a style="text-decoration: none" th:href="${'/order/' + oneOrder.id}">
            <p th:text="${oneOrder.id} + '. ' +${oneOrder.title}"></p>
        </a>
        <p th:text="${oneOrder.description}"></p>
        <p th:text="${oneOrder.stage}"></p>
        <p th:text="${oneOrder.total}"></p>
    </div>
</div>

<form th:action="@{/order/orderBy}" method="get">
    <label for="field">Field
        <input type="text" name="field" id="field"/>
    </label>
    <label for="asc">Asc/Desc
        <input type="text" name="asc" id="asc"/>
    </label>
    <button type="submit">Order</button>
</form>

<form th:action="@{/order/deleteAll}" method="post">
    <button type="submit">Delete all</button>
</form>
</body>
</html>