<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header.html}"></div>
    <form th:action="${'/client/update/' + oneClient.id}" method="post" th:object="${oneClient}">
        <label for="name">Name
            <input type="text" name="name" id="name" th:value="*{name}"/>
        </label>
        <label for="surname">Surname
            <input type="text" name="surname" id="surname" th:value="*{surname}"/>
        </label>
        <label for="address">Address
            <input type="text" name="address" id="address" th:value="*{address}"/>
        </label>
        <button type="submit">Update</button>
    </form>
</body>
</html>